.f-sm {
    font-size: .8rem;
    line-height: 1.2rem;
}

.f-md {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.f-lg {
    font-size: 1.5rem;
}

.f-xl {
    font-size: 2rem;
}

.f-bold {
    font-weight: 900;
}

.f-lighter {
    font-weight: 200;
}

.font-weight-bold {
    font-weight: 700 !important;
}