@import "./vars";

@mixin in-mobile {
    @media all and (max-width: map-get($breakpoints, '-lg')) {
        @content;
    }
}

@mixin in-desk {
    @media all and (min-width: map-get($breakpoints, '-lg')) {
        @content;
    }
}

@mixin inEachBreakpoint($prefix, $attr, $val) {
    @each $var, $break in $breakpoints {        
        @media all and (min-width: $break) {
            .#{$prefix}#{$var}-#{$val} {
                #{$attr}: $val;
            }
        }
    }
}