@import "_vars";

@font-face {
    font-family: 'PT Sans';
    src: url('~assets/fonts/pt-sans/regular.ttf');
}

@font-face {
    font-family: 'PT Sans';
    src: url('~assets/fonts/pt-sans/bold.ttf');
    font-weight: bold;
}

* {
    font-family: 'PT Sans', sans-serif;
    color: $black;
}

body {
    background-color: #FFFFFF;
    margin: 0px; padding: 0px;
}

a {
    text-decoration: none !important;
    color: inherit;
}

button {
    outline: none;
}