$yellow: #FCDB00;
$black: #010101;
$white: #FEFEFE;
$dark-gray: #232527;
$light-gray: #898989;
$light-gray-2: #555555;

$colors: (
    yellow: $yellow,
    black: $black,
    white: $white,
    dark-gray: $dark-gray,
    light-gray: $light-gray,
    light-gray-2: $light-gray-2,
);

// USANDO MESMOS BREAKPOINTS DO BOOTSTRAP :)
$breakpoints: (
    '': 0px,
    '-sm': 576px,
    '-md': 768px,
    '-lg': 992px,
    '-xl': 1200px,
);

$directions: (
    't': (top),
    'b': (bottom),
    'l': (left),
    'r': (right),
    'y': (top, bottom),
    'x': (right, left),
    '': (top, right, bottom, left)
);