@import "~assets/scss/mixins";

.item-wrapper {
    overflow: hidden;
    position: relative;
    height: 773px;

    @include in-desk {
        height: 470px;
    }
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0px 0px;

    .dot {
        display: block;
        width: 15px;
        height: 15px;
        margin: 0px 2.5px;
        border-radius: 50%;
        background: white;
        opacity: .5;
        transition: .3s ease all;

        &:hover {
            opacity: .7;
        }

        &.active {
            opacity: 1;
        }
    }
}