@import 'assets/scss/_vars';
@import 'assets/scss/_mixins';


.nav-link {
    color: $black !important;

    @include in-mobile {
        padding-left: 15px !important;

        &:first-child {
            margin-top: 25px;
        }

        &.active {
            background-color: #00000007;
        }
    }

    @include in-desk {
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            background: $black;
            bottom: 3px;
            left: 0px;
            transform: scaleX(0);
            transition: .3s ease transform;
        }

        &:hover, &.active {
            &::after {
                transform: scaleX(1);
            }
        }
    }
}